<h1>DTS API Documentation</h1>
<p>Welcome to the DTS API Documentation. Listed are all service modules available through DTS. For each service you will find an inclusive list of input and output fields associated with each service.</p> 
<p>The documentation is organized into <a>Modules</a>, which are listed on the menu on the left. The modules include <a>Autoship</a>, <a>CommissionHub</a>, <a>Distributor</a>, <a>DTParameters</a>, <a>Earnings</a>, <a>FastTreeAdmin</a>, <a>Genealogy</a>, <a>Group</a>, <a>MessageBox</a>, <a>Orders</a>, <a>Points</a>, <a>ProgressTab</a>, <a>ProtectPay</a>, <a>Qualifications</a>, <a>ReportGroups</a>, <a>Reports</a>, <a>Session</a>, <a>Telephony</a>, <a>Evo</a>, <a>WebMeeting</a>.</p> 
<p>All of these services are available to be used throughout your application. However, each Module has its own set of intricacies which this documentatino will describe.</p>
<hr>

<h2>Modules</h2>

<h3><a>Autoship</a></h3>
<p>This handler is associated with autoship templates. Transactional based services are located under the <a>Orders</a> handler. This handler includes a service for returning autoship template information.</p>
<hr>

<h3><a>CommissionHub</a></h3>
<p>The commission hub handler includes services to integrate your ERP system and use the InfoTrax commission engine to payout commissions.</p>
<hr>

<h3><a>Distributor</a></h3>
<p>Everything related to members within your system. These services include member information, enrollment, personal information, suspend, and terminating.</p>
<hr>

<h3><a>DTParameters</a></h3>
<p>All services related to DataTrax parameters. Use these services to return member statuses, bonus types, rank information, and next numbers for orders.</p>
<hr>

<h3><a>Earnings</a></h3>
<p>Services return commission payout information. Earnings, paid on reports and detail reports.</p>
<hr>

<h3><a>FtAdmin</a></h3>
<p>Services for FastTree file information. Use these services to find details of fields available within FastTree and file import dates and times.</p>
<hr>

<h3><a>Genealogy</a></h3>
<p>These services are used to run genealogy reports using FastTree.</p>
<hr>

<h3><a>Group</a></h3>
<p>Business group services which allow you to manage a users differen business groups. A great communication tool for users and their downline. Manage current members and prospects.</p>
<hr>

<h3><a>MessageBox</a></h3>
<p>Unleash the power of the InfoTrax messagining platform. Real time communication for your corporate or your distributor base. No longer do you need to deal with mass email for communication.</p>
<hr>

<h3><a>Orders</a></h3>
<p>An entire suite of transactional based services. Create one-time and auto-delivery orders. Retrieve historical order information.</p>
<hr>

<h3><a>ProgressTab</a></h3>
<p>An entire set of services for training modules. Manage the steps you want your member base to take to achieve success and build their business.</p>
<hr>

<h3><a>ProtectPay</a></h3>
<p>Fully integrated ProtectPay service for retrieving payment information on file with ProtectPay.</p>
<hr>

<h3><a>Qualifications</a></h3>
<p>Up to the second commission information to know how close a member is to achieving the next rank. Built for creating InfoTrax's robust rank qualification module.</p>
<hr>

<h3><a>ReportGroups</a></h3>
<p>Organize your FastTree reports in groups for powerful comparison information.</p>
<hr>

<h3><a>Reports</a></h3>
<p>Coming soon...The new reporting module from Infotrax. Create organizational and transactional reporting based on the InfoTrax patented FastTree technology.</p>
<hr>

<h3><a>RunReports</a></h3>
<p>Part of the reporting module. These are the services used to run your reports that have been created by you or by InfoTrax.</p>
<hr>

<h3><a>Session</a></h3>
<p>Session creation for authentication for using DTS and its many services.</p>
<hr>

<h3><a>Telephony</a></h3>
<p>VoiceCast services. Create and manage your toll free number.</p>
<hr>

<h3><a>Evo</a></h3>
<p>Evo is InfoTrax's renowned member facing backoffice. Create and manage member Evo account information.</p>
<hr>

<h3><a>Webmeeting</a></h3>
<p>WebMeeting is InfoTrax's platform for streaming teleconferences. Record now... broadcast whenever. Services avalable iclude listing WebMeetings published by users. More on there way...</p>
<hr>
