<div class="container">
	<!-- <div class="col-md-2 sidelist">
		<ul class="nav">
		    <li><a class="nav-link current">New Enrollment</a></li>
		    <li><a>Order Transaction</a></li>
		    <li><a>Reporting</a></li>
		    <li><a ui-sref=".messaging">Messaging</a></li>
		</ul>
	</div> -->
	<div class="col-md-10">
		<div ui-view autoscroll="false">
        <!-- <div ng-include src="'partials/partial-apiwelcome.html'"></div> -->
        <h1>DTS Guides</h1>
		<p>These guides will walk you through how to use DTS to some of your major business processes.</p>
      	</div>    
		
	</div>
</div>
