<div class="bs-docs-header" id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>DataTrax Services</h1>
				<h4>Take control of your InfoTrax platform</h4>
        <a ui-sref="started"><button type="button" class="btn btn-danger">Get Started</button></a>
			</div>
      <div class="col-md-6">
       <img src="img/laptop.png" class="img-responsive" alt="Responsive image">
       <!-- <i class="fa fa-rocket fa-6"></i> -->
      </div>
		</div>
	</div>
</div>

<!-- <div class="middle-wrap">
  <div class="container">
    <div class="col-md-6">
      <h1>This is the middle</h1>
    </div>
  </div>
</div> -->

<div class="highlight-wrap">
<div class="container">
  <div class="row">
    <ul class="list-inline highlights">
    <div class="center-block">
      <div class="col-md-3 col-md-offset-1 highlight-module">
        <li>
          <a us-sref="started">
            <i class="fa fa-power-off fa-5x text-center"></i>
          </a>
          <h2>
            <a ui-sref="started" class="text-center">Get Started</a>
          </h2>
          <p class="text-center">New to the documentation? Click here to get introduced</p>
        </li>
      </div>
      <div class="col-md-3 col-md-offset-1 center-block highlight-module">
        <li>
          <a us-sref="fasttree">
            <i class="fa fa-sitemap fa-5x"></i>
          </a>
          <h2>
            <a ui-sref="fasttree">FastTree</a>
          </h2>
          <p>Go here to learn the patented FastTree syntax to create lightning fast real-time reports.</p>
        </li>
      </div>
      <div class="col-md-3 col-md-offset-1 center-block highlight-module">
        <li>
          <a us-sref="guides">
            <i class="fa fa-code fa-5x"></i>
          </a>
          <h2>
            <a ui-sref="guides">Guides</a>
          </h2>
          <p>Walkthroughs on how to perform most common business functions</p>
        </li>
      </div>
    </ul>
    </div>
  </div>
</div>
</div>

<!-- <div class="container">
        <h2 class="example-title">About DTS</h2>
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="img/start.jpg" >
                <i class="fa fa-power-off fa-5x"></i>
                <div class="caption text-center">
                  <h3>Getting Started</h3>
                  <p>Go here to get up and running with DataTrax Services</p>
                  <p><a ui-sref="started" class="btn btn-default" role="button">Go</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="img/car.jpg">
                <div class="caption text-center">
                  <h3>FastTree Syntax</h3>
                  <p>Learn the FastTree syntax so you can create your own reports</p>
                  <p><a href="#" class="btn btn-default" role="button">Go</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="img/thumbnail-3.jpg">
                <div class="caption text-center">
                  <h3>Thumbnail label</h3>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
                  <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img class="img-rounded" src="img/thumbnail-4.jpg">
                <div class="caption text-center">
                  <h3>Thumbnail label</h3>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
                  <p><a href="#" class="btn btn-warning" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
            </div>
          </div>
      </div> -->